* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.logo {
    color: #ff5500;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: monospace;
}

.titulo-principal h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.8rem;
    color: white;
}

.toggle-switch {
    font-size: 2rem;
    color: #ff5500;
}

.contenedor-muro {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.post h2 {
    font-family: "Times New Roman", serif;
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 1;
}

.post p {
    font-size: 0.9rem;
    color: #cccccc;
    margin-bottom: 15px;
    line-height: 1.4;
}

.post-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.doble-foto {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.doble-foto img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.naranja {
    color: #ff5500;
    font-weight: bold;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info .nombre {
    font-weight: bold;
    font-size: 0.9rem;
}

.info .fecha {
    font-size: 0.7rem;
    color: #888;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #ddd;
}

.footer-left {
    color: #ff5500;
}

.footer-right {
    font-size: 1.5rem;
    display: flex;
    gap: 15px;
}